@font-face {
    font-family: 'Boulder';
    src: url('./fonts/Boulder-Bold.ttf') format('truetype');
  }

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient(to right, rgb(43 160 77) 60%, rgb(233, 203, 33));
    color: white;
    text-align: center;
    padding: 10px;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #4CAF50;
    text-decoration: none;
}

.piaget-title{
    display: inline-block;
    font-family: "Poppins", sans-serif;
    background-color: #f14d63;
    padding: 10px 30px;
    color: white;
}


.test-title{
    justify-self: center;
    margin-top: 100px;
}

.hidden-button {
    visibility: hidden; /* Oculta el botón inicialmente */
    opacity: 0;         /* Hace que el botón sea completamente invisible */
    transition: opacity 0.5s ease; /* Transición suave cuando se hace visible */
}

.hidden-button.visible {
    visibility: visible; /* Hace que el botón sea visible */
    opacity: 1;          /* Aplica la opacidad completa */
}


.test-title h1 {
    font-family: 'Boulder', sans-serif;
    font-size: 8rem;
    color: black;
    text-align: left;
    overflow: hidden; /* Oculta caracteres adicionales durante la animación */
    white-space: nowrap; /* Evita saltos de línea */
    border-right: 4px solid black; /* Cursor de máquina */
    animation: blink-caret 0.7s step-end infinite;
    display: inline-block; /* Asegura que el ancho sea calculable */
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: black;
    }
}


.test-title h1:hover{
    transform: translateX(10px);
}

.title-with-button {
    display: inline-flex;
    align-items: center; /* Alinea verticalmente */
    gap: 300px; /* Espaciado entre el texto y el botón */
}

.boton-index{
    font-family: 'Poppins', sans-serif  !important;
    font-size: 1.4rem !important;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.custom-button:hover {
    background-color: #d9534f; /* Cambia el color al pasar el mouse */
    color: white;
}

.index-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center; /* Alinea las imágenes horizontalmente */
    gap: 10px; /* Espaciado entre imágenes */
    background-color: #f8f7ec; /* Color de fondo para evitar huecos */
    padding: 10px 0;
}

.index-footer img {
    max-width: 50%; /* Ajusta este valor si quieres cambiar el tamaño relativo */
    height: auto;
    object-fit: cover; /* Asegura que las imágenes se vean completas */
}



.Logo-Piaget-b{
    max-width: 90px;
    padding: 5px;
    filter: contrast(100%) brightness(0) invert(1);
}

.texto-piaget-header{
    margin-left: 20px;
}

a {
    transition: color 0.3s ease;
}
a:hover {
    color: #FF6347;
}

button, .btn {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    will-change: transform;
}

h1, h2 {
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

h1, h2 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

h1.animate__fadeIn, h2.animate__fadeIn {
    opacity: 1;
}

.navbar-nav .nav-link {
    position: relative;
    color: #333;
    font-weight: 500;
    font-size: 1.3rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #007bff;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}


.card {
    max-width: 500px;
}

.col-md-6 {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
}


/* Estilo para el modal */
.video-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1050;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease; /* Suaviza la aparición del modal */
}

.video-modal.active {
    display: flex;
    opacity: 1;
    
}

.modal-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    max-height: 80vh; /* Cambia la altura máxima a 80vh */
}

.modal-content video {
    width: 100%;
    height: 100%;
    object-fit: contain;
    max-height: 80vh; /* Agrega una altura máxima al video */
}

/* Vista previa al pasar el ratón */
.preview-video:hover {
    cursor: pointer;
    outline: 3px solid #007bff;
    transition: outline 0.1s ease-in-out;
}

